.post-card {
    margin: 10px;
    margin-top: 20px;
    padding: 0;
}

.post-text {
    font-size: larger;
}

@media (max-width: 1200px) {
    .post-text {
        font-size: large;
    }
}

@media (max-width: 992px) {
    .post-text {
        font-size: medium;
    }
}

@media (max-width: 768px) {
    .post-text {
        font-size: medium;
        margin: 0;
        padding: 0;
    }
}

